html

* {
  background-color: rgb(0, 0, 0);
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  }
a {
  color: blue;
}
h2 {
  color: red; 
}
h1{
  color:blue; text-align: center;
}
.first {
  color: coral; text-align: center;
}
.second {
  color: aqua; text-align: center;
}
#title {
  color: red; text-align: center;
}

#OverlordPosterBorder {
  border: 5px solid white;
  text-align: center;
  margin-left: 500px;
}